.div-background { 
    display: "flex";
    flex-direction: "column";
    justify-content: "center";
    align-items: "center";
    min-height: "90vh";
    min-width: "100vw";
    background-image: url("../../public/images/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    
}