.background-container {
    margin: 0;
    padding: 0;
    background-image: url("../images/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -5;
}

.dashboard-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88vh;
    z-index: 10;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 88vh;
    z-index: 10;
}
