.card-title{
    background-color: rgba(241, 187, 37, 0.865);
    text-align: center;
    color: rgba(212, 116, 47, 0.865);
    padding: 5%;
}

.dropdown-item:hover{
    color: rgba(212, 116, 47, 0.865);
}

#dropdown-basic-button{
    background-color:rgba(241, 187, 37, 0.865);
    border: 0px;
    color: rgba(212, 116, 47, 0.865);
}

#apply-loan{
    width: 60%;
    height: 60%;
}

.dashboard-card {
    text-align: center;
    color: rgba(212, 116, 47, 0.865);
    margin-top: 20%;
    @media (max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.admin-card {
    text-align: center;
    color: rgba(212, 116, 47, 0.865);
    margin-top: 30%;
    @media (max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#dropdown-basic-button{
    width: 100%;
}
.employee-image {
    height: 300px;
    object-fit: cover;
}