.dashboard-container {
    width: 100vw;
   
    /* padding: 3%; */
    
    
}

.welcome-text {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.controllers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.log-out {
    display: fixed;
    top: 10px;
}

.controllers{
    min-width: 100%;
    
}


.container{
    padding: 3vw;
    
   
}
.card-title{
    background-color: rgba(242, 226, 52, 0.865);
    text-align: center;
    color: rgba(212, 116, 47, 0.865);
}

.dropdown-item:hover{
    color: rgba(212, 116, 47, 0.865);
}
#dropdown-basic-button{
    background-color:rgba(242, 226, 52, 0.865);
    border: 0px;
    color: rgba(212, 116, 47, 0.865);
  }
.card-footer{
    max-height: fit-content;
   
}
.card-body{
   text-align: center;
   font-weight: normal;
   
   
}
.row{
    display: flex;
}
   
#apply-loan{
    padding-top: 10%;
    width: 60%;
    height: 15vw;
    align-self: center;
    
}
.col{
    flex: 1;
}