.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.register-form {
    width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: lightgray
}

.login-form {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #d72525e2;
    color: white
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form button {
    margin-top: 10px;
    width: 100%
}

.register-form button {
    margin-top: 10px;
    width: 100%
}


.formGroup {
    margin: 20px 0;
}

.error {
    text-align: center;
    color: red;
    margin-top: 5px;
}

.success {
    text-align: center;
    color: green;
    margin-top: 5px;
}

.routing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.routing div {
    font-size: large;
}

.routing Button {
    margin: 0 40px;
    width: 100%;
    background-color: rgba(241, 187, 37, 0.865);
    border: 0px;
    color: #d72525e2;
    font-weight:bold;
}
.login-button{
    background-color: rgba(241, 187, 37, 0.865);
    border: 0px;
    color: #d72525e2;
    font-weight:bold;
}
.login-button:hover{
    background-color: rgba(241, 187, 37, 0.865);
    border: 0px;
    color: rgba(212, 116, 47, 0.865);
    font-weight:bold;

}
.routing Button:hover {
    margin: 0 40px;
    width: 100%;
    background-color: rgba(241, 187, 37, 0.865);
    border: 0px;
    color: rgba(212, 116, 47, 0.865);
    font-weight:bold;
}