.custom-navbar {
background-color: #333;
color: #fff;
padding: 10px 80px;
}

.custom-navbar .navbar-brand {
color: #fff;
}

.custom-navbar .navbar-toggler-icon {
background-color: #fff;
}

.custom-navbar .nav-link {
color: #fff;
margin: 0 5px;
font-weight: bold;
padding: 5px;
}

.custom-navbar .nav-link:hover {
color: #f5f5f5;
}

.custom-navbar .nav-link.active {
color: #f5f5f5;
border-bottom: 2px solid #f5f5f5;
}

.custom-navbar .nav-dropdown {
margin-right: 20px;
}

.custom-navbar .dropdown-toggle::after {
display: none;
}

.custom-navbar .dropdown-menu {
background-color: #333;
border: none;
}

.custom-navbar .dropdown-item {
color: #fff;
}

.custom-navbar .dropdown-item:hover {
background-color: #555;
}

.custom-navbar .logout-button {
    margin-left: 20px;
}

.ml-auto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navbar{
    display: flex;
    align-items: space-between;
    align-items: center;
}