.custom-navbar {
background-color: #d72525e2;
color: #fff;
padding: 10px 80px;
position: sticky;
top: 0;
z-index: 10;
}

.custom-navbar .navbar-brand {
color: #fff;
font-weight: bold;
}

.custom-navbar .navbar-toggler-icon {
background-color: #fff;
color:#f5f5f5
}

.custom-navbar .nav-link {
color: #d72525e2;
margin: 0 5px;
padding: 5px;
}

.custom-navbar .nav-link:hover {
color: rgba(233, 244, 77, 0.865);
}
.custom-navbar .nav-link {
    color: #f5f5f5
        }
 

.custom-navbar .nav-link.active {
color: #d72525e2;
border-bottom: 2px solid #f5f5f5;
}

.custom-navbar .nav-dropdown {
margin-right: 20px;
}





.custom-navbar .dropdown-item {
color: #d72525e2;
}


.custom-navbar .logout-button {
    margin-left: 20px;
    background-color: #fff;
    color: #d72525e2;
    border: 0px;
}
.custom-navbar .logout-button:hover{
    background-color: white;
    color:#d72525e2;
}
.ml-auto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.right-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-navbar{
    display: flex;
    align-items: space-between;
    align-items: center;
}
.username{
    color:rgba(233, 244, 77, 0.865);
}