.table{
    max-width: 80vw;
    text-align: center ;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    
}
.table th, .table td {
    border:1px solid #ffd900;
    padding: 8px;
}
 .table th {
    background-color: #d72525e2;
    color: white;
 }
 .table-header{
     margin-bottom: "20px";
     text-align: center;
     color: #d72525e2;
     justify-content: center;

 }
 h2{
    padding-top: 5%;
    padding-bottom: 0;
 }